In [1]:
import pandas as pd
import numpy as np

In [2]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/evaluacion_mkt_campaign.csv", sep=",")
first_import.head(8)

,ID,Income,Recency,MntWines,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Seniority,Children
0,5524,58138.0,58,635,546,172,88,88,3,8,10,4,7,58,997,0
1,2174,46344.0,38,11,6,2,1,6,2,1,1,2,5,61,151,2
2,4141,71613.0,26,426,127,111,21,42,1,8,2,10,4,50,498,0
3,6182,26646.0,26,11,20,10,3,5,2,2,0,4,6,31,91,1
4,5324,58293.0,94,173,118,46,27,15,5,5,3,6,5,34,347,1
5,7446,62513.0,16,520,98,0,42,14,2,6,4,10,6,48,479,1
6,965,55635.0,34,235,164,50,49,27,4,7,3,7,6,44,779,1
7,6177,33454.0,32,76,56,3,1,23,2,4,0,4,8,30,514,1